@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgrey;
    min-height: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 35px;
    margin: -8px;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
nav{
    padding-bottom: 50px;
}
#primeiroP{
    padding-top: 10px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(41, 40, 40);
    color: white;
}
section.imagem > p{
    width: 400px;
    background-color: rgb(22, 22, 22);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}